
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="site-header">
        <header class="container">
            <h1 class="page-header">
                <a href="@Url.RouteUrl("Home")"> Singles Potluck Fellowship</a>
                <small>event registration site</small>
            </h1>
        </header>
    </div>
    <div class="container">
        <div class="row">
            @RenderBody();
        </div>
    </div>
    <footer class="container">
        <div class="row">
            <div class="col-sm-6">
            &copy; ToksQ @DateTime.UtcNow.Year
            </div>
            <div class="col-sm-6">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="@Url.RouteUrl("logout")">Logout</a>

                    if (User.IsInRole("admin"))
                    {
                        <a href="@Url.Action("index", "Guests", new {area="admin" })">View guest list</a>
                    }
                }
            </div>
            </div>
    </footer>

</body>

</html>
